h1, h3 {
    font-family: 'Cabin Sketch', cursive;
    color: rgb(92, 87, 87);
}

#mainContainer{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    margin-right: 20rem;
    margin-left: 20rem;
}

body {
    background-image: url('https://images.unsplash.com/photo-1438755582627-221038b62986?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    width: 100%;
}

#logInInfo {
    display: flex;
    flex-direction: column;
}

header {
    align-self: center;
}

#addStoreForm {
    align-self: center;
}

#authenticationForm{
    align-self: center;
}

#listOfStores{
    align-self: center;
}

#submitButton {
    align-self: center;
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 1rem;
    transition-duration: .4s;
    margin-top: .5em;
    margin-bottom: 1em;
}

#submitButton:hover {
    background-color: #4CAF50;
    color: white;
}

h3 {
    text-align: center;
}

#email, #password, #userEmail, #userPassword {
    width: 90%;
    font-size: 14px;
    padding: .5rem;
}

#addressTextBox, #storeTextBox {
    width: 100%;
    font-size: 14px;
    padding: .5rem;
    font-family: 'Roboto Slab', serif;

}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.removeButton {
    align-self: center;
    border-radius: 2px;
    transition-duration: .4s;
    align-self: flex-end
}

.removeButton:hover {
    background-color:rgb(180, 16, 16);
    color: white;
}

#listOfStores{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
}

#signUpButton {
    align-self: center;
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 1rem;
    transition-duration: .4s;
    margin-top: .7em;

}
#signUpButton:hover {
    background-color: #4CAF50;
    color: white;
}

#signInButton {
    align-self: center;
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 1rem;
    transition-duration: .4s;
    margin-top: .7em;
    margin-bottom: 1em;
}

#signInButton:hover {
    background-color: #4CAF50;
    color: white;
}



#signInButton:hover {
    background-color: #4CAF50;
    color: white;
}

.enterItem {
    align-self: center;
}

.deleteItemButton, .addGroceryItem {
    align-self: center;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: .8rem;
    transition-duration: .4s;
    margin-top: .7em;
}

.groceryItem, .newStoreInfo {
    color: gray;
    align-self: center;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}

.newStoreDiv{
    margin-top: 2rem;
}

.inputQuestion {
    color: gray;
    align-self: center;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
}

.enterItemBox {
    padding: .5rem;
    font-family: 'Roboto Slab', serif;
    font-size: .8rem;
}

@media only screen and (max-width: 600px) {
    #mainContainer {
        margin-right: 0;
        margin-left: 0;
    }

}